.specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0px 8px 15px;
}

.spec-num {
  margin-right: 450px;
}

.spec-description {
  margin: 8px 80px 10px 0px;
  /* border-bottom: 1px solid lightgray; */
  line-height: 22px;
}

.product-description-tab {
  padding: 8px 0px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}

.plus {
  margin-right: 8px;
}
