.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.round label:after {
  /* border: 2px solid #fff; */
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: rgb(145, 145, 148);
  border-color: white;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/* _________________ */
.round2 {
  position: relative;
}

.round2 label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.round2 label:after {
  /* border: 2px solid #fff; */
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round2 input[type="checkbox"] {
  visibility: hidden;
}

.round2 input[type="checkbox"]:checked + label {
  background-color: rgb(145, 145, 148);
  border-color: white;
}

.round2 input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.ship {
  display: flex;
}

.form-shipping-free {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 8px 8px 8px 10px;
}


.form-shipping-ups {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 8px 10px;
}

.shipping-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1 1;
  border: 1px solid darkgray;
  margin: 7px;
}

.shipping-form {
  min-width: 675px;
}


.shipping-type {
  margin-left: 5px;
}
