.navbar-top {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

.navbar-top-logo {
  /* position: relative;
  justify-self: center; */
}

/* .navbar-btn-div {
  display: flex;
  flex-direction: row;
  width: 400px;
} */

.navbar-img {
  width: auto;
  height: 20px;
}

.logo-img {
  max-height: 60px;
  margin-top: 20px;
}

.navbar-top-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  /* margin-left: 10px;
  margin-right: 20px; */
  min-width: 400px;
}

.navbar-top-controls {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

.spacer {
  width: 150px;
}


.search-bar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid black;
  resize: none;
  width: 200px;
  height: 20px;
  padding: 5px;
  font-size: 14px;
  outline: none;
}

.navbar-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>> */

.navbar-bottom {
  display: flex;
  justify-content: center;
  background-color: white;
  /* background-color: #f6f4f1; */
  border-bottom: 1px solid darkgray;
  padding: 5px 0px;
}

.nav-list {
  color: blue;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  margin: 15px 0px;
  padding: 0;
}

.nav-list li {
  /* color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-family: 'Lato';
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  margin: 0px 10px; */
}

.nav-list a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-family: 'Lato';
  font-size: 16px;
  text-align: center;
  line-height: 19px;
  margin: 0px 10px;
}

.nav-list a:hover {
  border-bottom: 1px solid black;
}

.navbar {
  padding-top: 10px;
  /* background-color: #f6f4f1; */
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.view-cart-btn {
  cursor: pointer;
  height: 25px;
  padding-top: 3px;
  margin: 0px 20px;
}

.sign-in-btn {
  cursor: pointer;
  height: 25px;
  padding-top: 3px;
  margin: 0px 20px 0px 35px;
}

.login {
  color: black;
  margin-left: 10px;
  text-decoration: none;
}

.watchlist-btn {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.watchlist-btn > img {
  height: 22px;
}

.watchlist-btn-text {
  margin-top: 3px;
  margin-left: 2px;
  font-family: 'Lato';
  font-size: 14px;
}
